* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: -webkit-linear-gradient(top, #00f3ff, #52729f);
    text-align: center;
}

.score {
    font-size: 2em;
    position: relative;
    color: #fff;
}

.canvas {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.button {
    background-color: #85943c;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.none {
    display: none;
}