.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.text-upper {
    text-transform: uppercase;
}

.container {
    overflow: auto;
}

canvas {
    display: block;
    float: left;
}

.game-configuration {
    display: block;
    margin-top: 40px;
}
